<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Experiencia con la tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe style="margin-top:60px;" width="100%" height="auto" src="https://www.youtube.com/embed/CI_puxtNDhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ion-content>
