<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/imgs/mi-foto.jpg"></ion-img>
  <ion-list>
    <ion-item>
      <ion-label>Nombres</ion-label>
      José Antonio
    </ion-item>
    <ion-item>
      <ion-label>Apellidos</ion-label>
      Santos Leonardo
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      20209438@itla.edu.do
    </ion-item>
  </ion-list>
</ion-content>
